@font-face {
    font-family: 'CherryBomb';
    src: url('/Assets/Font/CherryBomb/CherryBomb-Regular.ttf');
}

*{
    font-family: 'CherryBomb';
    box-sizing: border-box;
}

.navBar{
    width: 100%;
    position: absolute;
    top : 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 60px;
}
#Logo{

   font-size: 30px;
   
    
}
.navBar a{
    
    text-decoration: none;
    color: rgb(247, 224, 252);
    transition-duration: 0.1s;

}
.navBar a:hover{

    border-bottom-style: solid;
    border-bottom-color: #F3D1FF;
    border-bottom-width: 2px  ;
    border-radius: 3px;
}
.navBar .active{

    border-bottom-style: solid;
    border-bottom-color: #F3D1FF;
    border-bottom-width: 2px  ;
    border-radius: 3px;
}


.navBar button{
    padding: 6px 12px;
    background-color: #F3D1FF;
    border-radius: 20px;
    border: none;
}

.navBar button:hover{
    background-color: #C1E7F5;
    cursor: pointer;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

main{
    width: 100%;
    height: 100%;
    
}

main img{

}

